<html>
        <div>
            <h1><a href="/">お姉さんへの報告blog</a></h1>
        </div>
<!--
{% for post in posts %}
    {{ post }}
{% endfor %}
コメントアウ
-->

{% for post in posts %}
    <div>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <p>公開日: {{ post.published_date }}</p>
    </div>
{% endfor %}
<!--
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <p>published: {{ post.published_date }}</p>
コメントアウ
-->

    </body>
</html>
